<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>问卷</title>

</head>
<body>
<input type="hidden" id="questionNum" value="10"/>
<h1>优化版广西国税网上办税系统意见调查问卷</h1><br/>

<p><b>一、请选择您的纳税人类型</b></p>
<input type="radio" name="q1" value="1"/>1.增值税一般纳税人；<br/>
<input type="radio" name="q1" value="2"/>2.增值税小规模纳税人；<br/>
<input type="radio" name="q1" value="3"/>3.起征点以上个体工商户；<br/>
<input type="radio" name="q1" value="4"/>4.起征点以下个体工商户;<br/>
<input type="radio" name="q1" value="5"/>5.消费税纳税人<br/>
<input type="radio" name="q1" value="6"/>6.企业所得税纳税人（查账征收）<br/>
<input type="radio" name="q1" value="7"/>7.企业所得税纳税人（核定征收）<br/>

<p><b>二、您认为优化版广西国税网上申报系统功能菜单设置如何？（单选）</b></p>
<input type="radio" name="q2" value="1"/>1.设置合理；<br/>
<input type="radio" name="q2" value="2"/>2.设置一般；<br/>
<input type="radio" name="q2" value="3"/>3.设置不合理；<br/>
<input type="radio" name="q2" value="4"/>4.不合理的地方及其他意见建议（请说明）<br/>
<input type="text" name="q2"/><br/>

<p><b>三、您通过查看“我的主页”上的互联网申报流程图是否清楚申报的流程？（单选）</b></p>
<input type="radio" name="q3" value="1"/>1.清楚;<br/>
<input type="radio" name="q3" value="2"/>2.不清楚; <br/>
<input type="radio" name="q3" value="3"/>3.其他<br/>
<input type="text" name="q3"/><br/>

<p><b>四、您初次使用优化版广西国税网上申报系统感受如何？（单选）</b></p>
<input type="radio" name="q4" value="1"/>1.填报简单且系统稳定<br/>
<input type="radio" name="q4" value="2"/>2.填报简单但系统卡顿<br/>
<input type="radio" name="q4" value="3"/>3.填报麻烦但系统稳定<br/>
<input type="radio" name="q4" value="4"/>4.其他（请说明）<br/>
<input type="text" name="q4"/><br/>

<p><b>五、您认为哪项网上办税哪项功能是最需要改进的？ </b></p>
<input type="radio" name="q5" value="1"/>1.增值税申报表填写 <br/>
<input type="radio" name="q5" value="2"/>2.企业所得税申报表填写<br/>
<input type="radio" name="q5" value="3"/>3.消费税申报表填写<br/>
<input type="radio" name="q5" value="4"/>4.财务报表报送与信息采集<br/>
<input type="radio" name="q5" value="5"/>5.关联业务往来报告表填写<br/>
<input type="radio" name="q5" value="6"/>6.海关稽核<br/>
<input type="radio" name="q5" value="7"/>7.申报表提交<br/>
<input type="radio" name="q5" value="8"/>8.实时扣款<br/>
<input type="radio" name="q5" value="9"/>9.查询打印<br/>
<input type="radio" name="q5" value="10"/>10.其他系统（请注明）<br/>
<input type="text"  name="q5"/><br/>
您认为问题在于（可多选）：<br/>
<input type="checkbox" name="q5" value="1"/>1.系统不稳定<br/>
<input type="checkbox" name="q5" value="2"/>2.填写麻烦 <br/>
<input type="checkbox" name="q5" value="3"/>3.功能布局不合理 <br/>
<input type="checkbox" name="q5" value="4"/>4.没有提示提醒<br/>
<input type="checkbox" name="q5" value="5"/>5.无法查询是否申报成功 <br/>
<input type="checkbox" name="q5" value="6"/>6.其他（请填写具体意见）<br/>
<input type="text" name="q5"/><br/>

<p><b>六、您认为哪项网上办税哪项功能是第二需要改进的？ </b></p>
<input type="radio" name="q6" value="1"/>1.增值税申报表填写<br/>
<input type="radio" name="q6" value="2"/>2.企业所得税申报表填写<br/>
<input type="radio" name="q6" value="3"/>3.消费税申报表填写<br/>
<input type="radio" name="q6" value="4"/>4.财务报表报送与信息采集<br/>
<input type="radio" name="q6" value="5"/>5.关联业务往来报告表填写<br/>
<input type="radio" name="q6" value="6"/>6.海关稽核<br/>
<input type="radio" name="q6" value="7"/>7.申报表提交<br/>
<input type="radio" name="q6" value="8"/>8.实时扣款<br/>
<input type="radio" name="q6" value="9"/>9.查询打印<br/>
<input type="radio" name="q6" value="10"/>10.其他系统（请注明）<br/><input type="text" name="q6"/><br/>
您认为问题在于（可多选）：<br/>
<input type="checkbox" name="q6" value="1"/>1.系统不稳定<br/>
<input type="checkbox" name="q6" value="2"/>2.填写麻烦 <br/>
<input type="checkbox" name="q6" value="3"/>3.功能布局不合理 <br/>
<input type="checkbox" name="q6" value="4"/>4.没有提示提醒<br/>
<input type="checkbox" name="q6" value="5"/>5.无法查询是否申报成功 <br/>
<input type="checkbox" name="q6" value="6"/>6.其他（请填写具体意见）<br/>
<input type="text" name="q6"/><br/>

<p><b>七、在“我的主页”上您希望增加什么功能？（可多选）</b></p>
<input type="checkbox" name="q7" value="1"/>1.不用增加其他功能<br/>
<input type="checkbox" name="q7" value="2"/>2.本期申报事项提醒<br/>
<input type="checkbox" name="q7" value="3"/>3.本期申报、缴税结果提醒 <br/>
<input type="checkbox" name="q7" value="4"/>4.其他（请填写具体意见）<br/>
<input type="text" name="q7"/><br/>

<p><b>八、您认为优化版广西国税网上申报系统与原申报系统（办税便利通）比较是，哪个办税体验更好？（单选）：</b></p>
<input type="radio" name="q8" value="1"/>1. 优化版国税网上系统体验更好<br/>
<input type="radio" name="q8" value="2"/>2. 原国税申报系统（办税便利通）体验更好<br/>
<input type="radio" name="q8" value="3"/>3.二者都不好<br/>

<p><b>九、您对优化版国税网上系统打多少分？（满分100分）（单选）：</b></p>
<input type="radio" name="q9" value="1"/>1.100-90（优秀） <br/>
<input type="radio" name="q9" value="2"/>2.89-80（良好）<br/>
<input type="radio" name="q9" value="3"/>3. 79-70（一般）<br/>
<input type="radio" name="q9" value="4"/>4.69-60（差）<br/>
<input type="radio" name="q9" value="5"/>5.60分以下（很差）<br/>

<p><b>十、您对优化版广西国税网上申报系统在使用过程中的意见和建议：</b></p>
<textarea name="q10" ></textarea><br/>

<input type="button" onclick="sumbit()" value="提交"/>
<!--<table>
    <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>是否有效</th>
            <th>创建日期</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="questionnaire:${questionnaireList}">
            <td th:text="${questionnaire.no}">...</td>
            <td th:text="${questionnaire.title}">...</td>
            <td th:text="${questionnaire.state}">...</td>
            <td th:text="${questionnaire.createTime}">...</td>
        </tr>
    </tbody>

</table>-->
<script src="/js/main.js"></script>
<script src="/asset/js/jquery.min.js"></script>
</body>
</html>